---
---

<!doctype html>
<!--
  Minimal Mistakes Jekyll Theme 4.12.1 by Michael Rose
  Copyright 2013-2018 Michael Rose - mademistakes.com | @mmistakes
  Free for personal and commercial use under the MIT license
  https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE.txt
-->
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% if page.skill_categories %}
      <link href="/assets/css/devicon.min.css" rel="stylesheet" />
      <link href="/assets/css/devicons.min.css" rel="stylesheet" />
    {% endif %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="initial-content">

      {% include resume/banner.html %}

      <div id="main" role="main">
        <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
          {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          {% if page.banner.intro_text %}<meta itemprop="description" content="{{ page.banner.welcome_text | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
          {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
          {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}
      
          <section class="page__content" itemprop="text">
            {% include resume/summary.html %}
            {% include resume/experiences.html %}
            {% include resume/skills.html %}
            {% include resume/education.html %}
            {% include resume/projects.html %}
          </section>
        </article>
      </div>

      <div id="bottom">
        {% include resume/contact.html %}
        {% include resume/attributions.html %}
      </div>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>